.buttonOn {
    background-color: rgba(245, 8, 8, 0.76);
    color: rgba(235, 223, 223, 0.623);
    border: 1px solid rgba(212, 208, 208, 0.986);
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px rgba(116, 114, 114, 0.555);
}

.buttonOn:hover {
    background-color: rgb(173, 6, 6);
    color: rgba(255, 255, 255, 0.904);
    border: 1px solid rgba(14, 13, 13, 0.986);
}

.buttonRow1 {
    grid-column: 1 / 2;
    box-shadow: 2px 2px 1px 1px rgba(116, 114, 114, 0.555);
}

.buttonRow2 {
    grid-column: 2 / 3;
    box-shadow: 2px 2px 1px 1px rgba(116, 114, 114, 0.555);
}

.buttonRow3 {
    grid-column: 3 / 4;
    box-shadow: 2px 2px 1px 1px rgba(116, 114, 114, 0.555);
}



.buttonRow4 {
    grid-column: 4 / 5;
    box-shadow: 2px 2px 1px 1px rgba(116, 114, 114, 0.555);
}