.container {
    background-color: rgba(145, 142, 142, 0.096);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 250px;
    height: 300px;
    border-left: 1px solid rgba(185, 181, 181, 0.466);
    border-top: 1px solid rgba(185, 181, 181, 0.479);
    grid-gap: 10px;
    padding: 15px;
    border-radius: 5%;
    position: absolute;
    right: 30%;
    top: 20%;
    box-shadow: 5px 5px 5px 2px rgba(116, 114, 114, 0.555);
}

body {
    background-color: rgba(117, 117, 117, 0.123);
}